#root {
  /* max-width: 1400px; */
  margin: 0 20px;
  /* padding: 2rem;
  text-align: center; */
} 

.sidebar {
  min-height: 100vh;
}

.nav-item{
  font-size: 20px;
  text-decoration: none;
}

.nav-link{
  color: rgb(10, 9, 77) !important;
  font-weight: 600 !important;

}


