/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.sidebar {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .sidebar {
    min-height: auto;
    width: 100%;
  }
}
